
/*

  Media queries are used to adjust the layout for phones (and tablets,
  to a lesser extent).  Most phones have a viewport width in the
  360-420 pixel range, while tablets are in the 700-850 range, and
  laptops/desktops these days have a minimum of 1024 (really, 1280).

*/

.headshot {
    height: 350px;
}

.headshot-div {
    width: 90%;
    margin: auto;
}

@media (max-width: 740px) {
    .headshot {
	width: 100%;
	height: auto;
    }
}

body {
    font-family: Cinzel, serif;
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 740px) {
    body {
	margin: 5px;
    }
}

body h1 {
    font-weight: 700;
}

@media (max-width: 740px) {
    body h1 {
	font-size: x-large;
    }

    body h2 {
	font-size: medium;
    }
}

.hero-image {
    padding-bottom: 2em;
    width: 100%;
}

.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: x-small;
    padding-top: 2em;
    clear: both;
}

.social-links {
    float: right;
    font-size: large;
}

.social-links :any-link {
    color: black;
    text-decoration: none;
}

@media (max-width: 740px) {
    .social-text {
	display: none;
	visibility: hidden;
    }
}

.header-image-div {
    float: left;
    padding-right: 2em;
}

@media (max-width: 740px) {
    .header-image-div {
	padding-right: 10px;
    }
}

.header-image {
    height: 150px;
}

@media (max-width: 740px) {
    .header-image {
	height: 70px;
    }
}

.menu {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
    clear: both;
}

.menu-button {
    display: none;
}

@media (max-width: 740px) {
    .menu {
	display: flex;
	flex-direction: column;
	width: 90%;
	align-items: start;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
    }

    .menu-button  {
	display: block;
	padding-bottom: 10px;
    }

    #menu-panel {
	display: none;
    }
}

.menu-item {
    margin-left: 5px;
    margin-right: 0em;
}


.menu-item a {
    text-decoration: none;
}

.project-left-image {
    float: left;
    height: 300px;
    padding-right: 1em;
    padding-bottom: 1em;
}

.quote {
    font-style: italic;
}

.project {
    clear: both;
}

.contact-map {
    float: left;
    width: 30%;
}

.contact-map a img {
    padding-left: 2em;
    width: 80%;
}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-thumbnail {
    padding: 0.5em;
}

.carousel-thumbnail img {
    height: 250px;
}

table.timeline tr th {
    text-align: start;
}

table.timeline tr td {
    padding-bottom: 1em;
    vertical-align: top;
}
